---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }


/*****************************************************************************/
/*
/* Custom
/*
/*****************************************************************************/

.navbar {
  margin: 0px;
}

.site-cover {
  max-width: 100%;
  height: 700px;
  background-image: url(/assets/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  overflow: hidden;
}

.cover-text {
  padding-top: 100px;
  text-align: center;

  h1 {
    color: #FFF;
    font-weight: 500;
    font-size: 40px;
  }

  h3 {
    color: #FFF;
    font-weight: 400;
  }

  h3.cover-call {
    margin-top: 125px;
  }
}

p {
  font-size: 16px;
}

a[href^=tel]{
    color:inherit;
    text-decoration:none;
}

.pt10 {
  padding-top: 10px !important;
}

main {
  padding-top: 70px;
}

.avvo {
  width: 140px;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-flow: row wrap;
}

.mauto {
  margin: auto;
}
